<div class='tasklsit'>
  <div *ngFor='let task of tasklist' >
    <div class='task' *task="task">
      <ng-container >
        <md-checkbox id={{task}}></md-checkbox>
        <span >{{task}} </span> 
      </ng-container>
    </div>
  </div>
</div>
<button md-button class='lo' (click)='logOut()'> LogOut</button>