.window{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}
.field{

    font-size: 30px;
    font-weight: 700;
    color: #4D5B84;
    padding: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;  
}
.login{
    position: relative;
}
input{
    font-size: 30px;
    margin-top: 10px;
}
button{
    margin-left: calc(50% - 50px);
    font-size: 30px;
    border: none;
    margin-top:20px;
}
.login-component{
    width: 500px;
    margin-left: calc(50% - 290px);
    border: #b3d4e5 10px solid;
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    margin-top: 100px;
}