<div class='window'>
  <div class='login-component'>
    <div class='field login'>
      <md-input-container class="example-full-width">
      <input [(ngModel)]='username' mdInput placeholder="Username">
    </md-input-container>
    </div>
    <div class='field password'>
      <md-input-container class="example-full-width">
      <input type ='password' [(ngModel)]='password' mdInput placeholder="Password">
    </md-input-container>
    </div>
    <button md-button (click)='login()'>OK</button>
  </div>
</div>
